body {
  background-color: #efed40;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 80px;
  font-family: monospace;
}

.list {
  display: flex;
  list-style-type: none;
  
}
